# ===============================
# Environment / Secrets
# ===============================
.env

# ===============================
# Docker (local only)
# ===============================
docker-compose.yml
Dockerfile
.dockerignore
/docker/


# ===============================
# User uploads (runtime data)
# ===============================
uploads/
admin/workshops_img/
*.sql
coachingdb.sql

**/.git*

# ===============================
# Logs  
# ===============================
*.log

# ===============================
# Optional: cache / temp
# ===============================
.cache/
.tmp/
