# ===============================
# Environment / Secrets
# ===============================
.env

# ===============================
# Dependencies (install on server)
# ===============================
/vendor/
composer.lock

# ===============================
# Docker (local only)
# ===============================
docker-compose.yml
Dockerfile
.dockerignore
/docker/


# ===============================
# User uploads (runtime data)
# ===============================

admin/workshops_img/
*.sql
coachingdb.sql

**/.git*

# ===============================
# Logs  
# ===============================
*.log

# ===============================
# Optional: cache / temp
# ===============================
.cache/
.tmp/
